
<ActionBar>

  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

  <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
      ios.position="left">
  </ActionItem>

  <Label text="Detalle"></Label>
</ActionBar>



  <ListView class="list-group" [items]="this.detalles.buscar()" (itemTap)="onNavItemTap('/search/detalle',$event)" style="height:1250px ;">
      <ng-template let-x="item">
              <FlexboxLayout flexDirection="row" class="list-group-item">
                  <Image src="res://icon" class="thumb img-circle"></Image>
                  <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="width: 60%"></Label>

              </FlexboxLayout>
      </ng-template>

  </ListView>







<Label text="detalle" class="list-group-item-heading" verticalAlignment="center" style="width: 60%"></Label>


